@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Cuprum');
/* RESET */
/* ----------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

.clear {
  clear: both;
}

/* LAYOUT */
/* ----------------------------------------- */

body {
  font-family: "Cuprum", "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #e1e0db;
  font-size: 13px;
  line-height: 17px;
  color: #000;
}

.contact {
  background-image: none;
  background-color: #e9e9e9;
}

a,
a:visited,
a:active,
a:hover
{
  color: #709399;
  text-decoration: underline;
}

/* DOSSIER BACKGROUND */
/* ----------------------------------------- */

#wrapper {
  width: 969px;
  margin: 0 auto;
}

.wrapper-top {
  width: 969px;
  height: 19px;
  margin: 0 auto;
  background-image: url(../images/btop.jpg);
  background-repeat: no-repeat;
}

.wrapper-mid {
  width: 969px;
  margin: 0 auto;
  background-image: url(../images/bmid.jpg);
  background-repeat: repeat-y;
}

.wrapper-bottom {
  width: 969px;
  height: 22px;
  padding: 0;
  margin: 0 auto;
  background-image: url(../images/bbottom.jpg);
  background-repeat: no-repeat;
}

/* PAPER BACKGROUND */
/* ----------------------------------------- */

#paper {
  width: 828px;
  margin: 0 auto;
}

.paper-top {
  width: 828px;
  margin: 0 auto;
  background-image: url(../images/ptop.jpg);
  background-repeat: no-repeat;
  height: 126px;
}

#paper-mid {
  width: 828px;
  margin: 0 auto;
  background-image: url(../images/pmid.jpg);
  background-repeat: repeat-y;
  display: block;
  padding: 0;
  overflow: hidden;
}

.paper-bottom {
  width: 828px;
  height: 18px;
  margin: 0 auto;
  background-image: url(../images/pbottom.jpg);
  background-repeat: no-repeat;
}

/* ENTRIES */
/* ----------------------------------------- */

.entry, .self-entry {
  width: 780px;
  display: block;
  padding-top: 25px;
  clear: both;
  margin-left: 4px;
  margin-bottom: 20px;
}

.self-entry p {
  text-align: justify;
  width: 695px;
  display: block;
  padding-top: 10px;
  clear: both;
  text-indent: 3em; 
}


.entry p {
  text-align: justify;
}

.works h3 {
  font-size: 20px;
}

.works .content {
  margin-bottom: 20px;
}

h1 {
  width: 370px;
  font-size: 42px;
  color: #315a60;
  margin-bottom: 3px;
  clear: both;
}

h1 span {
  font-size: 21px;
  display: block;
  color: #315a60;
  margin-top: 20px;
}

h2 {
  width: 210px;
  height: 20px;
  text-align: left;
  float: left;
  padding: 0;
  margin: 0;
  margin-left:270px;
  clear: both;
  font-size: 22px;
  color: #315a60;
}

p {
  width: 490px;
  margin-left: 45px;
  float: right;
  margin-right: 20px;
  font-size: 127%;
  line-height:1.4;
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;	
}

p img {
  float: right;
  margin-left: 20px;
  padding-left: 10px;
}

div.content {
  clear: both;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  padding-top: 15px;
}

h3 {
  width: 200px;
  text-align: right;
  float: left;
  padding: 0;
  clear: both;
  font-size: 15px;
  color: #709399;
}

h4 {
  width: 180px;
  text-align: right;
  float: left;
  padding: 0;
  clear: both;
  font-size: 11px;
  color: #709399;
}

h5 {
  width: 180px;
  text-align: right;
  float: left;
  padding: 0;
  clear: both;
  font-size: 10px;
  color: #709399;
}

h6 {
  width: 180px;
  text-align: right;
  float: left;
  padding: 0;
  clear: both;
  font-size: 9px;
  color: #709399;
}

em {
  font-family: inherit;
  color: #777777;
  font-size: 15px;
  display: block;
  padding-top: 3px;
}

ul.info {
  float: right;
  width: 540px;
  margin: 10px 0 10px 0;
  list-style-type: none;
}

ul.info li {
  padding: 0;
  float: left;
  display: block;
  width: 480px;
  background-image: url(../images/bullet.gif);
  background-repeat: no-repeat;
  padding-left: 10px;
  background-position: 0 0.25em;
  margin: 5px 0 0 50px;
  font-size: 15px;
  text-align: justify
}

ul.info li li {
  margin: 5px 0 0 90px;
  width: 410px
}

.skills {
  margin: 0;
  padding: 0;
  float: right;
  width: 540px;
  margin-left: 40px;
  margin-top: -6px;
}

.skills span {
  float: left;
  width: 115px;
  margin: 5px 10px 0 40px;
  background-color: #5d6e80;
  color: #ffffff;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  font-family: Arial, sans-serif;
  padding: 6px 6px;
  text-align: center;
  white-space: nowrap;
}

img.portrait {
  background-image: url(../images/frame.jpg);
  background-repeat: no-repeat;
  width: 109px;
  height: 125px;
  padding-top: 20px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 36px;
  margin-left: 75px;
  float: left;
}

/* SELF INFORMATION */
/* ----------------------------------------- */

.self {
  width: 350px;
  float: left;
  padding-top: 11px;
  margin-left: 65px;
  margin-bottom: 15px;
}

.self ul {
  padding-top: 10px;
  font-size: 120%;
}

.self ul li.ad {
  background-image: url(../images/icn-ad.gif);
}

.self ul li.mail {
  background-image: url(../images/icn-mail.gif);
}

.self ul li.tel {
  background-image: url(../images/icn-tel.gif);
}

.self ul li.web {
  background-image: url(../images/icn-web.gif);
}

.self ul li {
  background-repeat: no-repeat;
  padding-left: 26px;
  background-position: 0 0.1em;
  height: 25px;
  display: block;
  margin-top: -2px;
}

/* SOCIAL ICONS */
/* ----------------------------------------- */

.social {
  width: 135px;
  float: right;
  padding-top: 10px;
}

.social ul {
  list-style: none;
}

.social ul li {
  float: left;
  width: 21px;
  height: 24px;
  margin: 0;
  padding: 0;
  margin-left: 6px;
}
/* GO TO TOP */
/* ----------------------------------------- */

#message {
	display: block;
	display: none;
	z-index: 999;
	opacity: .8;
	position: fixed;
	top: 100%;
	margin-top: -40px;
	right: 0%;
	margin-right:10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 77px;
	line-height: 20px;
	height: 20px;
	padding: 5px;
	background-color: #080626;
	font-size: 11px;
	text-align: center;
}

#message a {
	color: #fff;
}
